body {
    background-color: rgba(143, 135, 249);
}

.random {
    display: grid;
    justify-content: center;
}

#btn {
    padding: 10px 20px;
    background-color: violet;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}