body {
    background-color: violet;
}

.container {
    display: grid;
    justify-content: center;
}

.card {
    width: 600px;
    height: 600px;
    border: none;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5)
}

button {
   background-color:white;
   border: none;
   padding: 1em 2em;
   font-weight: 700;
   text-transform: uppercase;
   position: relative;
   top: 300px;
   left: 210px;
   cursor: pointer;
   box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5)
}

button:hover {
  background-color: purple;
  color: white;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5);
} 

h1 {
    color: white;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    justify-content: center;
    position: relative;
    top: 300px;
    left: 0px;
    font-size: 3rem;
    text-transform: uppercase;
}